@model MyMVCForum.Models.Topic

@{
    ViewBag.Title = Model.TopicName;
}

<h2>@Html.DisplayFor(model => model.TopicName)</h2>

<div>

    <table class="table table-striped">
        @foreach (var item in Model.Posts)
        {
            <tr>
                <td rowspan="2">
                    @Html.DisplayFor(Item => item.AuthorPost.UserName)
                </td>
                <td>
                    @Html.DisplayFor(Item => item.DateTopic)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(Item => item.PostText)
                </td>
            </tr>
            
        }
        
    </table>

</div>
